#profile {
    padding: 2rem 2.5rem;
    width: 100%;
    max-width: 500px;
    display: flex;
    margin: 5rem auto;
    gap: 1.5rem;
    font-size: 2rem;
    border-top: 2px solid var(--color-warning);
    border-bottom-left-radius: var(--border-radius-3);
    border-bottom-right-radius: var(--border-radius-3);
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
}

.profile-content {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.profile-section {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.profile-title {
    color: var(--color-warning);
}