#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  column-gap: 1.5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 15vh;
  /* flex: 1 1 650px; */
}

.title-container {
  margin: 2rem 0;
}

.main-heading {
  color: var(--color-warning);
  font-size: 8rem;
  font-weight: 900;
}

.sub-heading {
  font-size: 3.5rem;
}

.img-container {
  max-width: 40vw;
}

.btn-grp {
  display: flex;
  width: 100%;
  column-gap: 2rem;
}

.btn-grp .btn {
  font-size: 2rem;
}
