.user {
  display: flex;
  column-gap: 0.8rem;
}

.account-name {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-foreground);
}

.account-dropdown {
  position: fixed;
  top: 50px;
  width: min-content;
}

.account-dropdown > ul {
  border: none;
  border: 1px solid var(--color-background-accent-two);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: var(--color-background-accent);
  color: var(--color-foreground);
}
