.navbar {
  position: sticky;
  top: 0;
  left: 0;
}

.navbar {
  background-color: var(--color-warning-light);
}

.search-bar .btn.tertiary {
  color: var(--color-warning);
  background-color: var(--color-background);
}
.main .search-bar,
.search-bar input[type="search"] {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
