#footer > * {
  margin: 1rem auto;
  text-align: center;
}

#footer .social-links {
  font-size: 2.5rem;
  color: var(--color-tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

#footer .social-links > * {
  cursor: pointer;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  transition: opacity 0.3s;
}

#footer .social-links > *:hover {
  opacity: 0.7;
}

#footer .copyright {
  font-size: 1.25rem;
}
