.input-tag {
    padding: 0.6rem 0.85rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;
    border: 1px solid var(--color-foreground);
    border-radius: var(--border-radius-3);
  }
  
  .input-tag:focus {
    box-shadow: 0 0 0 1px var(--color-warning);
  }

  .input-container {
    display: flex;
    column-gap: 1rem;
    align-items: center;
  }

  .notes-form {
    max-width: 500px;
    width: 100%;
    margin: 2rem auto;
    padding: 1rem 1.5rem;
    background-color: var(--color-background);
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    border-radius: var(--border-radius-3);
  }
  
  .notes-form input[type="text"],
  .notes-form .input-area {
    color: var(--color-foreground);
    background-color: var(--color-background);
  }
  
  .notes-form > .input-grp {
    width: 100%;
  }
  
  .note-footer {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .input-grp>.input-title {
    border: none ;
    box-shadow: none;
  }

  .input-grp>.input-title:focus {
    box-shadow: none;
  }

  .note-header {
    display: flex;
  }

  .note-header > .input-grp {
    flex-grow: 1;
  }

  .pin-icon {
    font-size: 2rem;
    cursor: pointer;
  }

  .input-dropdown {
    background-color: var(--color-background);
    color: var(--color-foreground);
    padding: 0.6rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    outline: none;
    border-radius: var(--border-radius-3);
}

.input-tag-container {
  position: relative;
}

.tags-dropdown {
  /* width: 200px; */
  padding: 10px 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: calc(100% + 4px);
  background-color: var(--color-background-accent);
  border-radius: var(--border-radius-3);
}

.tags-action {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.tags-content {
  height: 80px;
  overflow-y: auto;
  padding: .5rem 1rem;
}

.tags-content label {
  max-width: 25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag-action-input {
  outline: none;
  border: none;
  font-size: inherit;
  padding: .5rem 1rem;
  max-width: 75%;
  color: var(--color-foreground);
  background-color: var(--color-background);
  border-radius: var(--border-radius-3);
}

.tag-action-btn {
  font-size: inherit;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  color: var(--color-foreground);
  background-color: transparent;
  border: 1px solid var(--color-warning);
  border-radius: var(--border-radius-3);
}

.tag-chip-container {
  min-height: 35px;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tag-chip {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: fit-content;
  padding: 0.6rem 1rem;
  color: var(--color-warning-light);
  border: 1px solid var(--color-warning);
  border-radius: 2rem;
}

@media only screen and (max-width: 600px) {
  .notes-form {
    max-width: 300px;
  }
  .note-footer {
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .input-container {
    width: 100%;
    justify-content: space-between;
  }
  .note-footer > .btn {
    width: 100%;
  }
}