@import url("./pages/Home/home.css");
@import url("./pages/Auth/auth.css");
@import url("./pages/Notes/notes.css");
@import url("./components/Footer/footer.css");
@import url("./components/Loader/loader.css");
@import url("./components/Sidebar/sidebar.css");
@import url("./components/Navbar/navbar.css");
@import url("./components/DisplyaNotes/displayNotes.css");
@import url("./components/NoteCard/noteCard.css");

body {
  overflow: auto;
  background-color: var(--color-grey-dark-3);
  color: var(--color-tertiary);
}

.btn.warning {
  background-color: var(--color-warning);
}

.btn.outline-warning {
  border: 1px solid var(--color-warning-light);
  color: var(--color-warning);
  background-color: transparent;
}

.highlight {
  color: var(--color-warning);
}

.input-grp > input:focus,
.input-area:focus {
  box-shadow: 0 0 0 1px var(--color-warning);
}

.checkbox-grp label::before {
  border: 2px solid var(--color-warning);
}

.checkbox-grp input:checked + label::before {
  background-color: var(--color-warning);
}

.sub-text {
  margin-top: 1rem;
}
